openapi: 3.1.0
info:
  title: Headout Partner Booking Inventory API
  version: '2.0'
  description: 'Headout''s public Partner API for accessing the experiences marketplace: products, categories, collections and subcategories (v2), plus inventory & pricing and the two-step booking flow (v1). Partners authenticate with a Headout-Auth API key. Production keys are prefixed pk_ and testing keys tk_.'
  contact:
    name: Headout Partnerships
    email: partnerships@headout.com
    url: https://github.com/headout/api-docs
  termsOfService: https://www.headout.com/terms-of-use/
servers:
- url: https://www.headout.com
  description: Production
- url: https://sandbox.api.test-headout.com
  description: Sandbox / testing (use tk_ keys)
security:
- HeadoutAuth: []
tags:
- name: Inventory
paths:
  /api/public/v1/inventory/list-by/variant:
    get:
      operationId: listInventoryByVariant
      tags:
      - Inventory
      summary: List inventory and pricing by variant
      description: Fetch availability and pricing for a variant across a date-time window.
      security: []
      parameters:
      - name: variantId
        in: query
        required: true
        schema:
          type: string
        description: The ID of the variant for which the inventory needs to be fetched.
      - name: startDateTime
        in: query
        required: false
        schema:
          type: string
        description: fm-date-time; defaults to current timestamp.
      - name: endDateTime
        in: query
        required: false
        schema:
          type: string
        description: fm-date-time; defaults to infinity if unspecified.
      - name: currencyCode
        in: query
        required: false
        schema:
          type: string
        description: ISO 4217 currency code (e.g. USD
        AED).: null
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Paginated list of inventory records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryPage'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  schemas:
    Inventory:
      type: object
      properties:
        id:
          type: string
        startDateTime:
          type: string
        endDateTime:
          type: string
        availability:
          type: string
          enum:
          - LIMITED
          - UNLIMITED
          - CLOSED
        remaining:
          type: integer
        pricing:
          type: object
          properties:
            persons:
              type: object
            groups:
              type: object
    Pagination:
      type: object
      properties:
        nextUrl:
          type: string
        prevUrl:
          type: string
        total:
          type: integer
        nextOffset:
          type: integer
    InventoryPage:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Inventory'
    Error:
      type: object
      description: Headout error envelope.
      properties:
        status:
          type: integer
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
      description: Pagination limit.
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: Pagination offset.
  securitySchemes:
    HeadoutAuth:
      type: apiKey
      in: header
      name: Headout-Auth
      description: API token. Production keys are prefixed pk_, testing keys tk_.
x-provenance:
  generated: '2026-07-19'
  method: generated
  source: https://github.com/headout/api-docs
  note: Headout publishes no OpenAPI. This spec was faithfully generated from the public Partner API documentation at github.com/headout/api-docs (conventions, apis/v1, apis/v2, error-handling). Only documented operations, parameters, and the documented error envelope are included; nothing was invented.
